<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - AIUB Portal</title>

    @Styles.Render("~/Content/css/dash.css")


    @RenderSection("styles", required: false)
</head>
<body>

    @if (Session["UserId"] != null)
    {
        @Html.Partial("_Navbar")
        @Html.Partial("_Sidebar")
    }


    @RenderBody()

    <script src="@Url.Content("~/Scripts/sidebar.js")"></script>
    <script src="@Url.Content("~/Scripts/dash.js")"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
